<h1 style="text-aglin:center">
	Write Your <strong>Journey</strong>
</h1>

<form action="/newjourney" method="POST">
	<div>
		<label>Name</label>
		<br>
		<input type="text" name="user[name]" placeholder="NAME">
	</div>
	<div>
		<label>Branch</label>
		<br>
		<input type="text" name="user[branch]" placeholder="BRANCH">
	</div>
	<div>
		<label>Heading</label>
		<br>
		<input type="text" name="user[heading]" placeholder="HEADING">
	</div>
	<div>
		<label>JOURNEY</label>
		<br>
		<textarea name="user[body]" placeholder="ACHIEVEMENT JOURNEY"></textarea>
	</div>
	
	<input type="submit">
</form>